{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/occasion.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Liste des motos</h1>

    <form id="filterForm">
        <h2>Filtrer par marque :</h2>
        {% for marque in marques %}
            <label>
                <input type="checkbox" class="marqueCheckbox" value="{{ marque.id }}"> {{ marque.name }}
            </label>
        {% endfor %}
    </form>

<div class="row row-cols-2 moto_list" id='moto_list'>
        {% for moto in motos %}
        <section class='col my-3 border'>
            <div class="row">
                <div class="col">
                    <img class="img_ocass" src="{{ asset('assets/img/' ~ moto.motoPicture) }}" alt="{{moto.MotoName}}">
                </div>
                <div class="col">
                    <div class="row">
                        <p class='text_ocass'>{{moto.id}}</p>
                    </div>
                    <div class="row">
                        <p class='text_ocass'>{{moto.MotoName}}</p>
                    </div>
                    <div class="row">
                        <p class='text_ocass'>{{moto.marque.name}}</p>
                    </div>
                    <div class="row">
                        <p class='text_ocass'>{{moto.MotoYear}}</p>
                    </div>
                    {# affiche que le debut #}
                    <div class="row">
                        <p class='text_ocass'>{{moto.motoDesc}}</p>
                    </div>
                    <div class="row">
                        <p class='text_ocass'>{{moto.MotoPrice}}</p>
                    </div>
                    <div class="row">
                        <ul>
                            {% for option in moto.MotoOption %}
                                <li class='text_ocass'>{{ option }}</li>
                            {% endfor %}
                        </ul>
                    </div>                    
                </div>
            </div>
        </section>
        {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/select.min.js') }}"></script>
{% endblock %}
